In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-07-20 20:15:07,-53.1500,-70.9167,42.12,73,20,11.50
1,1,Mbanza-Ngungu,CD,2021-07-20 20:17:54,-5.2500,14.8667,74.23,40,1,4.47
2,2,Ribeira Grande,PT,2021-07-20 20:17:54,38.5167,-28.7000,72.00,83,40,16.11
3,3,Busselton,AU,2021-07-20 20:13:17,-33.6500,115.3333,53.10,93,100,12.59
4,4,Port Alfred,ZA,2021-07-20 20:17:54,-33.5906,26.8910,56.71,81,100,27.51

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [11]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mbanza-Ngungu,CD,2021-07-20 20:17:54,-5.2500,14.8667,74.23,40,1,4.47
2,2,Ribeira Grande,PT,2021-07-20 20:17:54,38.5167,-28.7000,72.00,83,40,16.11
15,15,Anito,PH,2021-07-20 20:13:51,12.4497,125.2886,79.86,83,100,8.75
17,17,Rabo De Peixe,PT,2021-07-20 20:14:41,37.8000,-25.5833,71.11,94,75,14.97
22,22,Avarua,CK,2021-07-20 20:13:00,-21.2078,-159.7750,78.85,83,20,17.27
32,32,Gariaband,IN,2021-07-20 20:18:00,20.6350,82.0614,75.34,93,100,6.17
40,40,Mundgod,IN,2021-07-20 20:18:02,14.9667,75.0333,71.01,96,100,10.04
49,49,Rikitea,PF,2021-07-20 20:18:03,-23.1203,-134.9692,71.49,65,100,24.58
50,50,Husavik,IS,2021-07-20 20:18:04,66.0449,-17.3389,73.31,75,7,5.23
52,52,Yellowknife,CA,2021-07-20 20:18:04,62.4560,-114.3525,74.28,43,75,4.61

In [25]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1    Mbanza-Ngungu      CD     74.23  -5.2500   14.8667
2   Ribeira Grande      PT     72.00  38.5167  -28.7000
15           Anito      PH     79.86  12.4497  125.2886
17   Rabo De Peixe      PT     71.11  37.8000  -25.5833
22          Avarua      CK     78.85 -21.2078 -159.7750
32       Gariaband      IN     75.34  20.6350   82.0614
40         Mundgod      IN     71.01  14.9667   75.0333
49         Rikitea      PF     71.49 -23.1203 -134.9692
50         Husavik      IS     73.31  66.0449  -17.3389
52     Yellowknife      CA     74.28  62.4560 -114.3525

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mbanza-Ngungu,CD,74.23,-5.2500,14.8667,Hotel Full Business
2,Ribeira Grande,PT,72.00,38.5167,-28.7000,Quinta da Meia Eira
15,Anito,PH,79.86,12.4497,125.2886,The Yellow House
17,Rabo De Peixe,PT,71.11,37.8000,-25.5833,Quinta das Giestas
22,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
32,Gariaband,IN,75.34,20.6350,82.0614,हंसराज ट्रैक्टर
40,Mundgod,IN,71.01,14.9667,75.0333,Shreeraj Residency Lodge
49,Rikitea,PF,71.49,-23.1203,-134.9692,People ThankYou
50,Husavik,IS,73.31,66.0449,-17.3389,Bjarnabúð
52,Yellowknife,CA,74.28,62.4560,-114.3525,The Explorer Hotel

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))