## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Along,IN,77.61,overcast clouds,28.1667,94.7667,Hotel West
1,11,Colombo,LK,80.55,light rain,6.9319,79.8478,Galle Face Hotel
2,12,Valentin Gomez Farias,MX,74.43,scattered clouds,28.2167,-106.5833,NaN
3,14,Atuona,PF,78.33,scattered clouds,-9.8000,-139.0333,Villa Enata
4,15,Hilo,US,74.80,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [83]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(38.0, 140.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kamaishi"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Kamaishi"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hasaki"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Wajima"] 

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
246,453,Kamaishi,JP,71.56,broken clouds,39.2667,141.8833,Hotel Route Inn Kamaishi

In [56]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [79]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
cities = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(cities)
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,453,Kamaishi,JP,71.56,broken clouds,39.2667,141.8833,Hotel Route Inn Kamaishi
1,108,Hasaki,JP,77.40,clear sky,35.7333,140.8333,Hotel Sunrise Choshi
2,42,Katsuura,JP,81.10,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
3,330,Wajima,JP,78.44,clear sky,37.4000,136.9000,Wajiima Onsen Yashio

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

locations

       Lat       Lng
0  39.2667  141.8833
1  35.7333  140.8333
2  35.1333  140.3000
3  37.4000  136.9000

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(38.0, 140.0), zoom_level=6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))